@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0d1117;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #22d3ee;
}